<div class="row">
	<div class="span6">
        <div class="category-title pagination-centered">Mortal Men</div>
        <div class="people"></div>
        <a href="#" id="more-people"><i class="icon-plus"></i> Add Another Person</a>
    </div>
    <div class="span6">
        <div class="category-title pagination-centered">The Bills</div>
        <div class="bills"></div>
        <a href="#" id="more-bills"><i class="icon-plus"></i> Add Another Bill</a>
    </div>
</div>

<input class="btn btn-success btn-large" type="submit" value="Thou Shall Split!">
