<form id="main-form">
	<legend>People</legend>
	<table class="table-centered" id="people-table">
		<tr>
			<td class="span4">Name</td>
			<td>Move In</td>
			<td>Move Out</td>
			<td style="width: 70px;"></td>
		</tr>
	</table>
	<a href="#" id="more-people">More people</a>
	<legend>Bills</legend>
	<table class="table-centered" id="bills-table">
		<tr>
			<td>For</td>
			<td>Total</td>
			<td>From</td>
			<td>Until</td>
			<td style="width: 70px;"></td>
		</tr>
	</table>
	<a href="#" id="more-bills">More bills</a>
	<br>
	<input type="submit" class="btn btn-success" id="calculate" value="Calculate">
</form>