{
  "parser": "babel-eslint",  // https://github.com/babel/babel-eslint
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb",
  "rules": {
    "quotes": [
      2, "double", "avoid-escape"  // http://eslint.org/docs/rules/quotes
    ],
  }
}
